= render partial: "items/header"
.single-container
  .single-container__single-main
    .single-container__single-main__l-single-container
      .single-container__single-main__l-single-container__l-single-head-registration
        ログイン
      .single-container__single-main__l-single-container__l-single-head-registration-form
        .single-container__single-main__l-single-container__l-single-head-registration-form__l-single-content
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              = f.label :email, class:'label-weight'
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "imput-box"
            .field
              = f.label :パスワード, class:'label-weight'
              %br/
              = f.password_field :password, autocomplete: "current-password", class: "imput-box"
            - if devise_mapping.rememberable?
              .field
                = f.check_box :remember_me
                = f.label :remember_me
            .actions
              = f.submit "Log in",class: 'submit-form'
          = render "devise/shared/links"
= render partial: "items/footer"
