- @items.each do |item|
  %li.contents__categories__itemBox__itemLists__itemList
    - if user_signed_in?
      = link_to item_path(item) do
        .itemList--image
          -if item.purchase_id.present?
            = image_tag asset_path(item.images[0].content)
            .itemList--image__sold
              .itemList--image__sold__text
                SOLD
          - else
            = image_tag asset_path(item.images[0].content)
        .itemList--body
          %h3.itemList--body__name
            = item.name
          .itemList--body__details
            %ul
              %li
                = item.price.to_s + "円"
              %li
                = icon('fas', 'star')
                0
            %p
              (税込)
    - else
      = link_to new_user_session_path do
        .itemList--image
          -if item.purchase_id.present?
            = image_tag asset_path(item.images[0].content)
            .itemList--image__sold
              .itemList--image__sold__text
                SOLD
          - else
            = image_tag asset_path(item.images[0].content)
        .itemList--body
          %h3.itemList--body__name
            = item.name
          .itemList--body__details
            %ul
              %li
                = item.price.to_s + "円"
              %li
                = icon('fas', 'star')
                0
            %p
              (税込)