
  .main-items
    = form_with model: @item, local: true do |f|
      .wrapper.image-wrapper
        #image-box.image-wrapper__image-box
          = f.fields_for :images, local: true do |i|
            .image-wrapper__image-box__js.js-file_group{data:{index: "#{i.index}"}}
              = i.label :content, class: "image-wrapper__image-box__js__label" do
                .image-wrapper__image-box__js__label__image.img_field{id: "img_field--#{i.index}", onClick: "$('#file').click()"}
                  - if @item.images[i.index][:content].present?
                    = image_tag(f.image.content)
                  - else
                    = image_tag 'icon_camera.png', class: "image-wrapper__image-box__js__label__image__url" 
                = i.file_field :content, multiple: true, name: 'item[images_attributes][content][]', class: "image-wrapper__image-box__js__label__file js-file", id: "file"
                = i.hidden_field :id, value: ""
              .js-remove
                %span.js-remove__text
                  削除
      

      .wrapper.name-wrapper
        %label.wrapper__label
          商品名：
          %span.required
            ※必須
          = f.text_field :name, placeholder: "40字まで", class: "name-wrapper__name form-control", required: "required"
      .wrapper.description-wrapper
        %label.wrapper__label
          商品説明：
          %span.required
            ※必須
          = f.text_area :description, placaeholder: "色・素材・重さ・定価・注意点などを書きましょう（1000文字まで）", class: "name-wrapper__description form-control", required: "required", size: "40 x 10"
      .form-separator


      .wrapper.brand-wrapper
        %label.wrapper__label
          ブランド：
          = f.collection_select :brand_id, Brand.group(:name).order(id: :desc), :id, :name, {prompt: "選択してください"}, class: "brand-wrapper__brand form-control"
          
      .wrapper.condition-wrapper
        %label.wrapper__label
          商品の状態：
          %span.required
            ※必須
          = f.select :condition, [["新品、未使用", 1], ['未使用に近い', 2], ['目立った傷や汚れなし', 3], ['やや傷や汚れあり', 4], ['傷や汚れあり', 5],  ['全体的に状態が悪い', 6]], {include_blank: true, selected: 1}, {class: "condition-wrapper__condition form-control", required: "required"}
      .form-separator

      .wrapper.fee-wrapper
        %label.wrapper__label
          配送料の負担：
          %span.required
            ※必須
          = f.select :fee, [['送料込み（出品者が負担）', 1], ['着払い（購入者が負担）', 2]], {include_blank: true, selected: 1}, class: "fee-wrapper__fee form-control", required: "required"
      
      .wrapper.shipping_days-wrapper
        %label.wrapper__label
          発送日の目安：
          %span.required
            ※必須
          = f.select :shipping_days, [['1〜2日後に発送', 1], ['2〜3日後に発送', 2], ['4〜7日後に発送', 3]], { include_blank: true, selected: 1 }, class: "shipping_days-wrapper__shipping-days form-control", required: "required"
      .wrapper.area-wrapper
        %label.wrapper__label
          発送元の地域：
          %span.required
            ※必須
          = f.select :area, ApplicationRecord.prefectures.keys, { include_blank: true, selected: 1}, class: "area-wrapper__area form-control", required: "required"
      .form-separator

      .wrapper.price-wrapper
        %label.wrapper__label
          価格：
          %span.required
            ※必須
          = f.number_field :price, placeholder: "¥300 〜 ¥2,000,000 まで", class: "price-wrapper__price form-control", required: "required"

      .wrapper.submit-wrapper
        = f.submit "出品する", class: "btn submit-wrapper__submit-btn"
          





= render partial: "header"
= render partial: "form"
= render partial: "footer"
