= render partial: "header"
.container
  .side-bar
    %section.side-bar__group
      %h2.side-bar__group__title
        マイページメニュー
      %li.side-bar__group__list
        = link_to "お知らせ", "#"
      %li.side-bar__group__list
        = link_to "いいねした商品", "#"
    %section.side-bar__group
      %h2.side-bar__group__title
        商品を出品する
      %li.side-bar__group__list
        = link_to "商品を出品する", "#"
      %li.side-bar__group__list
        = link_to "出品した商品", "#"
      %li.side-bar__group__list
        = link_to "自分のショップを見る", "#"
    %section.side-bar__group
      %h2.side-bar__group__title
        商品を購入する
      %li.side-bar__group__list
        = link_to "購入した商品", "#"
      %li.side-bar__group__list
        = link_to "最近見た商品", "#"
      %li.side-bar__group__list
        = link_to "コメントした商品", "#"
    %section.side-bar__group
      %h2.side-bar__group__title
        設定・ヘルプ・その他
      %li.side-bar__group__list
        = link_to "売上・ポイント管理", "#"
      %li.side-bar__group__list
        = link_to "クーポンの確認", "#"
      %li.side-bar__group__list
        = link_to "設定", "#"
      %li.side-bar__group__list
        = link_to "お問い合わせ", "#"
      %li.side-bar__group__list
        = link_to "ラクマ公式ガイド", "#"
      %li.side-bar__group__list
        = link_to "はじめての方へ", "#"
      %li.side-bar__group__list
        = link_to "ログアウト", "#"

  .main-items
    = form_with model: @item, local:true do |f|
      .wrapper.image-wrapper
        - 10.times do
          = f.label :image, class: "image-wrapper__label" do
            = image_tag "icon_camera.png", class: "image-wrapper__label__image"
            = f.file_field :image, class: "image-wrapper__label__file"
      .wrapper.name-wrapper
        %label.wrapper__label
          商品名：
          %span.required
            ※必須
          = f.text_field :name, placeholder: "40字まで", class: "name-wrapper__name form-control", required: "required"
      .wrapper.description-wrapper
        %label.wrapper__label
          商品説明：
          %span.required
            ※必須
          = f.text_area :description, placaeholder: "色・素材・重さ・定価・注意点などを書きましょう（1000文字まで）", class: "name-wrapper__description form-control", required: "required", size: "40 x 10"
      .form-separator

      .wrapper.category-wrapper
        = f.label :name , class: 'wrapper__label', id: "wrapper__label--category" do
          カテゴリー：
          %span.required ※必須
          .category-wrapper-select
            .category-wrapper-select__box
              = f.select :category, @category_parent_array, {}, {class: 'category-wrapper__category form-control', id: 'parent_category'}
  
      .wrapper.brand-wrapper 
        %label.wrapper__label
          ブランド：
          = f.select :brand, [['テスト', 1], ['test', 2]], {include_blank: "指定なし"}, class: "brand-wrapper__brand form-control"

      .wrapper.condition-wrapper
        %label.wrapper__label
          商品の状態：
          %span.required
            ※必須
          = f.select :condition, [["新品、未使用", 1], ['未使用に近い', 2], ['目立った傷や汚れなし', 3], ['やや傷や汚れあり', 4], ['傷や汚れあり', 5],  ['全体的に状態が悪い', 6]], {include_blank: true, selected: 1}, {class: "condition-wrapper__condition form-control", required: "required"}
      .form-separator

      .wrapper.fee-wrapper
        %label.wrapper__label
          配送料の負担：
          %span.required
            ※必須
          = f.select :fee, [['送料込み（出品者が負担）', 1], ['着払い（購入者が負担）', 2]], { include_blank: true, selected: 1}, class: "fee-wrapper__fee form-control", required: "required"
      
      .wrapper.shipping_days-wrapper
        %label.wrapper__label
          発送日の目安：
          %span.required
            ※必須
          = f.select :shipping_days, [['1〜2日後に発送', 1], ['2〜3日後に発送', 2], ['4〜7日後に発送', 3]], { include_blank: true, selected: 1 }, class: "shipping_days-wrapper__shipping-days form-control", required: "required"
      .wrapper.area-wrapper
        %label.wrapper__label
          発送元の地域：
          %span.required
            ※必須
          = f.select :area, Item.prefectures.keys, { include_blank: true, selected: 1 }, class: "area-wrapper__area form-control", required: "required"
      .form-separator

      .wrapper.price-wrapper
        %label.wrapper__label
          価格：
          %span.required
            ※必須
          = f.text_field :price, class: "price-wrapper__price form-control", required: "required"
= render partial: "footer"
